body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* 'Roboto', Arial, sans-serif; */
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
    width: 350px; /* Make the extension window wider */
}

.logo {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    float: left; /* Align the image to the left */
    margin-right: 10px; /* Add some space between the image and the text */
    margin-bottom: 10px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}


button {
    background-color: #ffffff;
    color: rgb(80, 80, 80);
    border: none;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.1s ease; /* Add transition for animation */
}

button:hover {
    background-color: rgb(80, 80, 80);
    color: #ffffff;
}

button:active {
    transform: scale(0.95); /* Add scale effect on click */
}

.header-container {
    display: flex;
    align-items: center;
}

.stats-container {
    display: flex;
    flex-direction: column;
}

.stats {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #cecdcd;
    color: white;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.1s ease;
    font-size: 16px; /* Make the text larger */
}

.stats:hover {
    background-color: #a4aaa4;
}

.stats:active {
    transform: scale(0.95);
}

.checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #f9f9f9;
    border: 2px solid #bcc0bc;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

#new-task, #category-name, #category-color {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#category-color {
    cursor: pointer;
}

#tasks {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
}

/* Updated task-item styles */
.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #fff; /* Neutral background color */
    border: 2px solid transparent; /* Default border color */
    border-radius: 4px;
    transition: border-color 0.3s ease; /* Smooth transition for border color */
}

.task-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
}

.time-display, .cumulative-time-display {
    font-size: 14px;
    color: #666;
    text-align: right; /* Right justify the time values */
    margin-left: 10px; /* Add some space between the two timers */
}

.time-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.task-name-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.caret {
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.caret-rotate {
    transform: rotate(180deg);
}

.task-name {
    font-size: 18px;
    margin-left: 3px;
    font-weight: 300;

}

.link-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2px; /* Reduce vertical spacing */
    padding: 2px 0;
}

.link-item a {
    padding-left: 10px; /* Indent URL text */
}

.add-link-button {
    background-color: transparent;
    color: green;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin: 0 5px; /* Adjust margin for spacing */
}

.add-link-button:hover {
    color: darkgreen;
}

.remove-link-button {
    background-color: transparent;
    color: red;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}

.remove-link-button:hover {
    color: darkred;
}

.time-display {
    font-size: 14px;
    color: #666;
    text-align: right; /* Right justify the time values */
    flex: 1; /* Allow the time display to take available space */
}

.start-button, .stop-button {
    color: white;
    border: none;
    padding: 5px 5px; /* Make buttons smaller */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px; /* Make buttons smaller */
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.1s ease; /* Add transition for animation */
}

.start-button {
    background-color: #4CAF50;
}

.stop-button {
    background-color: #f44336; /* Red color for stop button */
}

.start-button:hover, .stop-button:hover {
    background-color: #45a049;
}

.stop-button:hover {
    background-color: #d32f2f; /* Darker red on hover */
}

.start-button:active, .stop-button:active {
    transform: scale(0.95); /* Add scale effect on click */
}

.button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.button-group button {
    flex: 1;
    margin: 0 5px;
}

.button-group .add-link-button {
    flex: 0;
    margin: 0 10px;
}

.hidden {
    display: none;
}

.category-highlight {
    padding: 2px 5px;
    border-radius: 50px;
    color: #e0e0e0;
}

.enter {
    float: left; /* Align the image to the left */
    margin-right: 10px; /* Add some space between the image and the text */
    margin-bottom: 10px;
}

.color-options {
    display: flex;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    float: left;
}

.color-option {
    width: 30px;
    height: 30px;
    margin: 5px;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.color-option:hover {
    border-color: #000;
}

.add-task-button {
    /* background-color: #4CAF50; */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    float: right;
}

.add-task-button:hover {
    background-color: #45a049;
}

.add-task-button:active {
    transform: scale(0.95); /* Add scale effect on click */
}
